<body class="main-page">

    <section class="header-section">

        <div class="header">
            <div class="header-text-container">
                <div>
                    <p>Bonjour</p>
                </div>
    
                <div class="header-text">
                    <h1>Prenez soin de votre peau</h1>
                </div>
    
                <div class="header-text">
                    <h2> Nous fabriquons des cosmétiques à partir d'huiles végétale bio et d'ingrédients naturels, sans
                        additif ! </h2>
                </div>
                
                <div class="header-img">
                    <img src="../../../assets/images/saopgreen.png" alt="savon vert">
                    <img src="../../../assets/images/argile.jpg" alt="">
                    <img src="../../../assets/images/creme.jpg" alt="">
                </div>
    
                <div class="header-text">
                    <a routerLink="/products">
                        <button>
                            <span>Voir nos produits <i class="fa-solid fa-chevron-right"></i> </span>
                        </button>
                    </a>
                </div>
    
            </div>
    
            <div class="header-photo">
                <img src="../../../assets/images/banner-img.png" alt="">
            </div>

        </div>

        

        <div class="logo-container">

            <div class="logo-container-unit">
                <img src="../../../assets/images/icon/france.png">
                <h4>Fabriqué en France </h4>
            </div>

            <div class="logo-container-unit">
                <img src="../../../assets/images/icon/main.png" alt="main">
                <h4>Fait Main</h4>
            </div>

            <div class="logo-container-unit">
                <img src="../../../assets/images/icon/plastique.png" alt="sac plastique">
                <h4>Sans plastique</h4>
            </div>

            <div class="logo-container-unit">
                <img src="../../../assets/images/icon/palme.png" alt="plastique">
                <h4>Sans huile de palme</h4>
            </div>

        </div>


    </section>

    <section class="engagement">
        <div class="engagement-container">
            <h2>Des produits frais, fait maison.</h2>
            <p>Blablabla</p>
        </div>
    </section>

    <section class="produits">
        <h1>Découvrez nos savons !</h1>

        <div>
            <div class="produits-container">
                <div *ngFor="let tempProduct of products | slice:2">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}">
                            <img src="{{ tempProduct.imageUrl }}" class="product-box-img">
                        </a>
                        <a routerLink="/products/{{tempProduct.id}}">
                            <h3>"{{ tempProduct.name }}"</h3>
                        </a>
                        <br>
                        <a routerLink="/products/{{tempProduct.id}}">
                            <p>{{ tempProduct.subname }}</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- produit not found : display message -->
        <div *ngIf="products?.length ==0" role="alert">
            No products found.
        </div>

        <div class="produits-footer">
            <p> Et découvrez encore plus de nos produits !!! </p>
            <a routerLink="/products">
                <button> <span>Tout nos produits</span> </button>
            </a>

        </div>

    </section>

    <section class="banner-creme">
        <div>
            <img src="../../../assets/images/banner-creme.jpg" alt="">
        </div>

    </section>

    <section class="dernier-ajout">
        <h1> Notre produit du moment </h1>

        <div class="dernier-ajout-container">
            <img src="../../../assets/images/products/savon/placeholder2.png" alt="">

            <h3>"Bonne Mine"</h3>
            <p>Spéciale été : orange, citron et carotte
                Pour plein de vitamine et un teint lumineux !
            </p>

        </div>



    </section>

    <section class="blog">
        <h1>En apprenez plus sur nous et nos produits !</h1>

        <div class="blog-container">
            <div>
                <img src="../../../assets/images/illustration.png" alt="visage">
            </div>

            <div class="blog-container-text">
                <h2> Vos soins, nos produits </h2>

                <p>Vous voulez savoir exactement ce que ous mettez sur votre peaux ou dans vos cheveux ? Nos ingérdients
                    ne sont pas un secret!
                    Apprenez à nous connaitre, suivez notre histoire.
                    Renseignez-vous sur les bienfaits des savons solide et des crèmes avec des ingrédients bio
                    sélectionnez avec soin.
                </p>

                <h4> Qui sommes nous ?</h4>
                <h4> Quels ingédients utilises-t-on ?</h4>
                <h4> Connaitre nos recettes ?</h4>

                <button><span>Contact</span></button>
            </div>

        </div>



    </section>

    <section class="newsletter">
        <div class="newsletter-form-container">
            <h3>Pour être au courant de nos nouveaux produits et recevoir des offres exclusives sur nos nouvelles
                recettes !</h3>

            <div class="newsletter-form">
                <form action="">
                    <label for="email" class="newsletter-form">E-mail : </label>
                    <input type="email" id="email" size="20" required placeholder="prenom.nom@mail.fr">
                    <button type="submit" (click)="newsletterInscription()">S'inscrire</button>
                    
                </form>

            </div>

        </div>




    </section>

    <section class="bandeau">
        <div class="bandeau-container">
            <div class="bandeau-icon">
                <img src="../../../assets/images/icon/cadeau.png">
                <p>Livraison offerte à partir de 40(e)</p>
            </div>
            <div class="bandeau-icon">
                <img src="../../../assets/images/icon/cadena.png">
                <p>Paiement sécurisé</p>
            </div>
            <div class="bandeau-icon">
                <img src="../../../assets/images/icon/contact.png">
                <p>Une question ? Contactez-nous</p>
            </div>
        </div>

    </section>



</body>