<body class="main-page">

    <section class="header">

        <div class="header-text-container">
            <div>
                <p>Bonjour</p>
            </div>

            <div class="header-text">
                <h1>Prenez soin de votre peau</h1>
            </div>

            <div class="header-text">
                <h3> Avec nos savons et autres cosmétiques naturels </h3>
            </div>

            <div class="header-text">
                <button>Nos produits</button>
            </div>

        </div>


    </section>

    
    <section class="logo">

        <div class="logo-container">
            <div class = "logo-container-border">
                <div class="logo-container-unit">
                    <img src="../../../assets/images/icon/france.png">
                    <h4>Fabriqué en France </h4>
                    <p>Dans le sud de la France</p>
                </div>               
            </div>

            <div class = "logo-container-border">
                <div  class="logo-container-unit">
                    <img src="../../../assets/images/icon/handmade.png" alt="main">
                    <h4>Fait Main</h4>
                    <p>Fait par nos petites mains</p>
                </div>
            </div>

            <div class = "logo-container-border">
                <div  class="logo-container-unit">
                    <img src="../../../assets/images/icon/vegan.png" alt="vegan">
                    <h4>Vegan</h4>
                    <p>Sans prodits animal et non testé sur les animaux </p>
                </div>
            </div>

            <div class = "logo-container-border">
                <div class="logo-container-unit">
                    <img src="../../../assets/images/icon/bottleinterdit.png" alt="plastique">
                    <h4>Sans plastique</h4>
                    <p> Aucun plastiques </p>
                </div>
            </div>

            <div class = "logo-container-border">
                <div class="logo-container-unit">
                    <img src="../../../assets/images/icon/3perso.png" alt="famille">
                    <h4>Petite entreprise</h4>
                    <p>Fabrique familliale</p>
                </div>
            </div>

        </div>

    </section>

    <section class="produits">
        <h1>Découvrez nos produits !</h1>

       <div >
            <div class="produits-container">
                <div *ngFor="let tempProduct of products | slice:0:3; let i=index">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}"> 
                            <img src="{{ tempProduct.imageUrl }}" class="product-box-img">
                        </a>   
                        <a routerLink="/products/{{tempProduct.id}}"> 
                            <h3>{{ tempProduct.name }}</h3>
                        </a>                     
                    </div>   
                </div>
            </div>
            <div class="produits-container">
                <div *ngFor="let tempProduct of products | slice:3:6; let i=index">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}"> 
                            <img src="{{ tempProduct.imageUrl }}" class="product-box-img">
                        </a>   
                        <a routerLink="/products/{{tempProduct.id}}"> 
                            <h3>{{ tempProduct.name }}</h3>
                        </a>                     
                    </div>   
                </div>
            </div>
        </div> 

        <!-- produit not found : display message -->
        <div *ngIf="products?.length ==0" role="alert">
            No products found.
        </div>

    </section>



</body>