<body class="main-page">

    <section class="header">

        <div class="header-text-container">
            <div>
                <p>Bonjour</p>
            </div>

            <div class="header-text">
                <h1>Prenez soin de votre peau</h1>
            </div>

            <div class="header-text">
                <h2> Avec nos savons et autres cosmétiques naturels </h2>
            </div>

            <div class="header-text">
                <a routerLink="/products">
                    <button> Nos produits </button>
                </a>
            </div>

        </div>


    </section>
    
    <section class="logo">

        <div class="logo-container">
            <div class = "logo-container-border">
                <div class="logo-container-unit">
                    <img src="../../../assets/images/icon/france.png">
                    <h4>Fabriqué en France </h4>
                    <p>Dans le sud de la France</p>
                </div>               
            </div>

            <div class = "logo-container-border">
                <div  class="logo-container-unit">
                    <img src="../../../assets/images/icon/handmade.png" alt="main">
                    <h4>Fait Main</h4>
                    <p>Fait par nos petites mains</p>
                </div>
            </div>

            <div class = "logo-container-border">
                <div  class="logo-container-unit">
                    <img src="../../../assets/images/icon/vegan.png" alt="vegan">
                    <h4>Vegan</h4>
                    <p>Sans prodits animal et non testé sur les animaux </p>
                </div>
            </div>

            <div class = "logo-container-border">
                <div class="logo-container-unit">
                    <img src="../../../assets/images/icon/bottleinterdit.png" alt="plastique">
                    <h4>Sans plastique</h4>
                    <p> Aucun plastiques </p>
                </div>
            </div>

            <div class = "logo-container-border">
                <div class="logo-container-unit">
                    <img src="../../../assets/images/icon/3perso.png" alt="famille">
                    <h4>Petite entreprise</h4>
                    <p>Fabrique familliale</p>
                </div>
            </div>

        </div>

    </section>

    <section class="produits">
        <h1>Découvrez nos produits !</h1>

       <div >
            <div class="produits-container">
                <div *ngFor="let tempProduct of products">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}"> 
                            <img src="{{ tempProduct.imageUrl }}" class="product-box-img">
                        </a>   
                        <a routerLink="/products/{{tempProduct.id}}"> 
                            <h3>"{{ tempProduct.name }}"</h3>
                        </a> 
                        <br>
                        <a routerLink="/products/{{tempProduct.id}}"> 
                            <p>{{ tempProduct.subname }}</p>
                        </a>                     
                    </div>   
                </div>
            </div>
           
        </div> 

        <!-- produit not found : display message -->
        <div *ngIf="products?.length ==0" role="alert">
            No products found.
        </div>

        <div class="produits-footer">
            <p> Et découvrez encore plus de nos produits !!! </p>
            <a routerLink="/products">
                <button> Tout nos produits </button>
            </a>
            
        </div>

    </section>

    <section class="dernier-ajout">
        <h1> Notre dernier ajout </h1>

        <div class="dernier-ajout-container">
            <img src="../../../assets/images/products/nouveau/placeholder6.png" alt="">

            <h3>"Bonne Mine"</h3>
            <p>Spéciale été : orange, citron et carotte 
                Pour plein de vitamine et un teint lumineux !
            </p>

        </div>



    </section>

    <section class="blog">
        <h1>En apprenez plus sur nous et nos produits !</h1>

        <div class="blog-container">
            <div>
                <img src="../../../assets/images/illustration.png" alt="visage">
            </div>

            <div class="blog-container-text">
                <h2> Vos soins, nos produits </h2>

                <p>Vous voulez savoir exactement ce que ous mettez sur votre peaux ou dans vos cheveux ? Nos ingérdients ne sont pas un secret! 
                    Apprenez à nous connaitre, suivez notre histoire. 
                    Renseignez-vous sur les bienfaits des savons solide et des crèmes avec des ingrédients bio sélectionnez avec soin.
                </p>
        
                <h4> Qui sommes nous ?</h4>
                <h4> Quels ingédients utilises-t-on ?</h4>
                <h4> Connaitre nos recettes ?</h4>

                <button>Notre Blog</button>
            </div>

        </div>

        

    </section>

    <section class="newsletter">
        <div class="newsletter-form-container">
            <h3>Pour être au courant de nos nouveaux produits et recevoir des offres exclusives sur nos nouvelles recettes !</h3>

            <div class="newsletter-form">
                <label for="email" class="newsletter-form">E-mail</label>
                <input type="email" id="email" size="30" required>
                <input type="submit" value="S'inscrire">
            </div>

        </div>




    </section>

    <section class="bandeau">
        <div class="bandeau-container">
            <div class="bandeau-icon">
                <img src="../../../assets/images/icon/cadeau.png">
                <p>Livraison offerte à partir de 40(e)</p>
            </div>
            <div class="bandeau-icon">
                <img src="../../../assets/images/icon/cadena.png">
                <p>Paiement sécurisé</p>
            </div>
            <div class="bandeau-icon">
                <img src="../../../assets/images/icon/contact.png">
                <p>Une question ? Contactez-nous</p>
            </div>
        </div>

    </section>



</body>