/* You can add global styles to this file, and also import other style files */
/* 
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

*{
    margin:0;
    padding:0;
}

:root{
    --light-pink : #FFF1F3;
    --main-pink : #FBDADE;
    --dark-pink : #E4BCC2;

    --josephin-font : 'Josefin Slab', serif;
    --raleway : 'Raleway', sans-serif;
}

h1{
    font-family: var(--raleway);
    font-weight: 900;
    font-size:50px;
    margin-bottom: 5px;
}

h2{
    font-family: var(--josephin-font);
    font-size:28px;
    font-weight:400;
}

h3{
    font-family: var(--josephin-font);
    font-size:30px;
    font-weight: 500;
}
h4{
    font-family: var(--raleway);
    font-size: 16px;
    font-weight: 800;
}

p{
    font-family: var(--raleway);
    font-size:20px;
}


a{
    cursor: pointer;
}

button{
    background-color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    border-style: none;
    border-radius: 10px;
    padding : 5px 10px 5px 10px;
    cursor: pointer;
}
button:hover{
    background-color: #f0f0f0;
}
button span{
    font-family: var(--raleway);
    font-size: 22px;
}

