/* You can add global styles to this file, and also import other style files */
/* 
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

*{
    margin:0;
    padding:0;
}

:root{
    --light-pink : #FFF1F3;
    --main-pink : #FBDADE;
    --dark-pink : #E4BCC2;

    --josephin-font : 'Josefin Slab', serif;
    --raleway : 'Raleway', sans-serif;
}

h1{
    font-family: var(--josephin-font);
    font-weight: 900;
    font-size:40px;
}

h2{
    font-size:32px
}

h3{
    font-family: var(--josephin-font);
    font-size:24px;
    font-weight: 500;
}

p{
    font-family: var(--raleway);
    font-size:20px;
}


a{
    display:inline-block
}

button{
    border:1px solid black;
    background:0 0;
    padding: 5px 20px;
    font-family: var(--josephin-font);
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
}
