<div class="details-section">
    <img src="{{product.imageUrl}}">

    <div class="details-container">

        <div><h4>{{product.typePeau}}</h4></div>

        <h3>{{product.name}}</h3>
        <h4>{{product.subname}}</h4>

        <p class="avis">
            <i class="fa-regular fa-star" aria-hidden="true"></i>
            <i class="fa-regular fa-star" aria-hidden="true"></i>
            <i class="fa-regular fa-star" aria-hidden="true"></i>
            <i class="fa-regular fa-star" aria-hidden="true"></i>
            <i class="fa-regular fa-star" aria-hidden="true"></i>
            (avis)
        </p>

        <p class="introduction">{{product.introduction}}</p>
        
        <h4>Produit de {{product.poids}}gr</h4>
        <div class="price"> <p>{{product.unitPrice| currency :'USD'}}</p></div>

        <button (click)="addToCart()" class="btn">Ajouter au panier</button>

    </div>

</div>

<div class="logo-container">
    <div class = "logo-container-border">
        <div class="logo-container-unit">
            <img src="../../../assets/images/icon/france.png">
            <h4>Fabriqué en France </h4>
        </div>               
    </div>
    <div class = "logo-container-border">
        <div  class="logo-container-unit">
            <img src="../../../assets/images/icon/handmade.png" alt="main">
            <h4>Fait Main</h4>
        </div>
    </div>
    <div class = "logo-container-border">
        <div class="logo-container-unit">
            <img src="../../../assets/images/icon/bottleinterdit.png" alt="plastique">
            <h4>Sans plastique</h4>
        </div>
    </div>


</div>

<div class="box-description">
    <div class="button">
        <button (click)="toggleTag1()" >Description</button>
        <button (click)="toggleTag2()" >Avis</button>
        <button (click)="toggleTag3()">Ingredients</button>

    </div>
    <div> 
        <p *ngIf="showMe1">{{product.description}}</p>         
        <p *ngIf="showMe2">blabma</p>
        <p *ngIf="showMe3"> {{product.ingredients}}></p>
    </div>
</div>

<div class="produit-similaire">
    blablbla

</div>

<div class="retour">
    <a routerLink="/products">Back to Product List</a>
</div>
    

