.cart-container{
    display:flex;
}
a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.cart-logo{
    text-decoration: none;
    font-size: 24px;
    color: black;

}

.cart-quantity{
    background-color: white;
    border-radius:50%;
    min-width: 30px;
    height:30px;

    display: flex;
    justify-content: center;

    margin-top: -15px;
    margin-left: -10px;

    color: black;
    font-size: 18px;

}
