<div>

    <div class="introduction">
        <h3>Nos produits</h3>
        <p>Nos savons, shampoings, exfoliants et autres cosmétiques sont tous fabriqués dans notre laboratoire
            familiale.
            Nous apportons une grande importance à la qualité des ingrédients que nous utilisons et proposons des
            recettes
            blablabla
        </p>
    </div>

    <div class="categorie">
        <app-product-category-menu></app-product-category-menu>
        <app-search> </app-search>
    </div>


</div>

<!--Main content : La liste des produits-->
<div class="main-content">
    <h4>Categorie: {{ currentCategoryName }}</h4>
    <hr>


    <div class="section-content">



        <div class="container">

            <div *ngFor="let tempProduct of products" class="product-container">
                <div class="product-box">
                    <a routerLink="/products/{{tempProduct.id}}">
                        <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                    </a>

                    <a routerLink="/products/{{tempProduct.id}}">
                        <h3>{{ tempProduct.name }}</h3>
                    </a>

                    <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                    <button (click)="addToCart(tempProduct)" class="primary-btn">Ajouter au panier</button>
                </div>

            </div>

            <!--produit not found : display message-->
            <div *ngIf="products?.length ==0" role="alert">
                Pas de produits trouvés.
            </div>

        </div>
        <!--pagination-->
       <!-- <div>
            <div>
                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
                    [maxSize]="5" [boundaryLinks]="true" (pageChange)="listProducts()" class="pagination">
                </ngb-pagination>

                <span> Nb d'articles </span>

                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                    <option selected="true">5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                </select>

            </div>

        </div>-->

    </div>
</div>