
img{
    height: 100px;
}


ngb-pagination ::ng-deep ul > li > a {
    color:black;
}
ngb-pagination ::ng-deep ul > li {
    display: inline;
    padding:20px;
    list-style: none;
}
ngb-pagination ::ng-deep ul{
   margin-left: 30%;
}

