<div class="main-content">

    <div *ngIf="cartItems.length >0" class="section-article">
        <table class="table">
            <tr>
                <th width="40%"></th>
                <th width="30%"></th>
                <th width="30%"></th>
            </tr>

            <tr *ngFor="let tempCartItem of cartItems">
                <td>
                    <img src="{{ tempCartItem.imageUrl}}">
                </td>
                <td>
                    <h4>{{tempCartItem.name}}</h4>
                    <p>{{tempCartItem.subname}}</p>
                    <p class="price">{{tempCartItem.unitPrice}}</p>
                </td>
                <td>
                    <div class="quantity">
                        <div>
                            <button (click)="incrementQuantity(tempCartItem)">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>

                        <div>
                            <p>{{tempCartItem.quantity}}</p>
                        </div>

                        <div>
                            <button (click)="decrementQuantity(tempCartItem)">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>

                        <div class="quantity-suppr">
                            <button (click)="remove(tempCartItem)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>

                    </div>
                    <p class="sous-total"> Sous-total: {{tempCartItem.quantity*tempCartItem.unitPrice | currency : 'USD'}} </p>
                </td>
            </tr>

            <tr>
                <td> </td>
                <td> </td>
                <td class="total">
                    <hr>
                    <p>Quantité total : {{ totalQuantity}}</p>
                    <p>Prix total : {{totalPrice | currency : 'USD'}}</p>
                    <button><a routerLink="/checkout" class="btn">Checkout</a></button>
                </td>
            </tr>

        </table>
    </div>

    <div *ngIf="cartItems.length == 0" class="section-vide">
        <p>Votre panier est vide !! </p>
    </div>



</div>