<div class="main-content">

    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- Groupe Client -->
        <div formGroupName="customer" class="form-area">
            <h3>Client</h3>

            <div class="row">
                <div> <label>Prénom</label></div>
                <div>
                    <input formControlName="firstName" type="text">

                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                        class="alert alert-danger mt-1">

                        <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                            Le prénom est obligatoire
                        </div>

                        <div *ngIf="firstName.errors.minlength">
                            Le prénom doit faire au moins 2 charactères de long
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div> <label>Nom de famille</label></div>
                <div>
                    <input formControlName="lastName" type="text">

                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                        class="alert alert-danger mt-1">

                        <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                            Le nom de famille est obligatoire
                        </div>

                        <div *ngIf="lastName.errors.minlength">
                            Le nom de famille doit faire au moins 2 charactères de long
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div> <label>Email</label></div>
                <div>

                    <input formControlName="email" type="text">

                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">

                        <div *ngIf="email.errors.required">
                            L'email est obligatoire
                        </div>

                        <div *ngIf="email.errors.pattern">
                            L'email doit être dans le bon format
                        </div>

                    </div>


                </div>
            </div>

        </div>

        <!-- shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
            <h3>Adresse de livraison</h3>

            <div class="row">
                <div> <label>Rue</label></div>
                <div>

                    <input formControlName="street" type="text">

                    <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                        class="alert alert-danger mt-1">
                        <div
                            *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                            La rue est obligatoire
                        </div>
                        <div *ngIf="shippingAddressStreet.errors.minlength">
                            Le nom de la rue doit faire au moins 2 charactère de long
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div> <label>Ville</label></div>
                <div>
                    <input formControlName="city" type="text">

                    <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"
                        class="alert alert-danger mt-1">
                        <div
                            *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                            Le nom de la ville est obligatoire
                        </div>
                        <div *ngIf="shippingAddressCity.errors.minlength">
                            Le nom de la ville doit faire au moins 2 charactères de long
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div><label>Code postal</label></div>

                <div>
                    <input formControlName="zipCode" type="text">
                    <div
                        *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)">
                        <div
                            *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhitespace">
                            Le code postal est obligatoire
                        </div>
                        <div *ngIf="shippingAddressZipCode.errors.minlength">
                            Le code postale doit faire au moins 2 chiffres de long
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Add check box to copy shipping to billing -->
        <div class="input-space">
            <label class="au-checkbox">
                <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                <span class="au-checkmark"></span>L'adresse de livraison et la même que l'adresse de
                facturation
            </label>
        </div>

        <!--Adresse de facturation  -->

        <div formGroupName="billingAddress" class="form-area">
            <h3>Adresse de facturation</h3>

            <div class="row">
                <div><label>Rue</label></div>

                <div>
                    <input formControlName="street" type="text">
                    <div
                        *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)">
                        <div
                            *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace">
                            Le rue est obligatoire
                        </div>
                        <div *ngIf="billingAddressStreet.errors.minlength">
                            La rue doit faire au moins 2 charactere de long
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div> <label>Ville</label></div>
                <div>

                    <input formControlName="city" type="text">

                    <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)"
                        class="alert alert-danger mt-1">
                        <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                            Le nom de la ville est obligatoire
                        </div>
                        <div *ngIf="billingAddressCity.errors.minlength">
                            Le nom de la ville doit faire au moins 2 charactères de long
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div> <label>Code postal</label></div>
                <div>

                    <input formControlName="zipCode" type="text">

                    <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)"
                        class="alert alert-danger mt-1">
                        <div
                            *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhitespace">
                            Le code postal est obligatoire
                        </div>

                        <div *ngIf="billingAddressZipCode.errors.minlength">
                            ZLe code postal doit faire au moins 2 charactères de long
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard" class="form-area">
            <h3>Carte de crédit</h3>

            <div class="row">
                <div> <label>Type de Carte</label></div>
                <div>
                    <select formControlName="cardType">
                        <option>Visa</option>
                        <option>Mastercard</option>
                    </select>

                    <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)"
                        class="alert alert-danger mt-1">
                        <div *ngIf="creditCardType.errors.required">
                            Selectionner son type de carte est obligatoire
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div> <label>Nom sur la carte</label></div>
                <div>

                    <input formControlName="nameOnCard" type="text">

                    <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)"
                        class="alert alert-danger mt-1">
                        <div
                            *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace">
                            Le nom est obligatoire
                        </div>

                        <div *ngIf="creditCardNameOnCard.errors.minlength">
                            Le nom doit faire au moins 2 charactères de long
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div> <label>Numéro de carte</label></div>
                <div>
                    <input formControlName="cardNumber" type="text">

                    <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)"
                        class="alert alert-danger mt-1">
                        <div *ngIf="creditCardNumber.errors.required">
                            Les numéros de carte sont obligatoire
                        </div>
                        <div *ngIf="creditCardNumber.errors.pattern">
                            Le numéro de carte doit faire 16 digits de long
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div> <label>Code de sécurité</label></div>
                <div>

                    <input formControlName="securityCode" type="text">

                    <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)"
                        class="alert alert-danger mt-1">
                        <div *ngIf="creditCardSecurityCode.errors.required">
                            Le code de sécurité est obligatoire
                        </div>
                        <div *ngIf="creditCardSecurityCode.errors.pattern">
                            Le code de sécurité doit faire 3 digit de long
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div> <label>Mois d'expiration</label></div>
                <div>

                    <select formControlName="expirationMonth">
                        <option *ngFor="let month of creditCardMonths">
                            {{ month }}
                        </option>
                    </select>

                </div>
            </div>

            <div class="row">
                <div> <label>Année d'expiration</label></div>
                <div>

                    <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                        <option *ngFor="let year of creditCardYears">
                            {{ year }}
                        </option>
                    </select>

                </div>
            </div>

        </div>
    </form>

    <!-- Order details -->
    <div class="form-area">
        <h3>Review Your Order</h3>

        <p>Total Quantity: {{ totalQuantity }}</p>
        <p>Shipping: FREE</p>
        <p>Total Price: {{ totalPrice }}</p>
    </div>

    <!-- submit button-->
    <div class="text-center">
        <button type="submit" class="btn btn-info" (click)="onSubmit()">Purchase</button>
    </div>



</div>