<div class="main-content">

    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group-->
        <div formGroupName="customer" class="form-area">
            <h3>Client</h3>

            <div class="row">
                <div><label>Prénom *</label></div>
                <div>
                    <input formControlName="firstName" type="text">
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                        <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                            Prénom est obligatoire
                        </div>
                        <div *ngIf="firstName.errors.minlength">
                            Le prénom doit faire au moins 2 charactères de long
                        </div>
                    </div>
                </div>

                <div><label>Nom de famille *</label></div>
                <div>
                    <input formControlName="lastName" type="text">
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                            Nom de famille est obligatoire
                        </div>
                        <div *ngIf="lastName.errors.minlength">
                            Le nom de famille doit faire au moins 2 charactères de long
                        </div>
                    </div>

                </div>

                <div><label>Email</label></div>
                <div>
                    <input formControlName="email" type="text">
                    <!--
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            email is required
                        </div>
                        <div *ngIf="email.errors.pattern">
                            Email must be a valid email adress format
                        </div>
                    </div>
                    -->
                </div>

            </div>

        </div>

        <!--Shipping adress-->

        <div formGroupName="shippingAddress" class="form-area">
            <h3>Adresse de livraison</h3>

            <div class="row">
         
                <div>
                    <div><label>Country</label></div>
                    <select formControlName="country" (change)="getStates('shippingAddress')">
                        <option *ngFor="let country of countries" [ngValue]="country">
                            {{ country.name }}
                        </option>
                    </select>
                    <div
                        *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)">
                        <div *ngIf="shippingAddressCountry.errors.required">
                            Country is required
                        </div>
                    </div>
                </div>
       

                <div><label>Rue</label></div>
                <input formControlName="street" type="text">
                <div
                    *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)">
                    <div
                        *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                        Rue est obligatoire
                    </div>
                    <div *ngIf="shippingAddressStreet.errors.minlength">
                        La rue doit faire au moins 2 charactères de long
                    </div>
                </div>

                <div><label>Ville</label></div>
                <input formControlName="city" type="text">
                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)">
                    <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                        La ville est obligatoire
                    </div>
                    <div *ngIf="shippingAddressCity.errors.minlength">
                        Le ville doit faire au moins 2 charactères de long
                    </div>
                </div>

           
                <div>
                    <div><label>State</label></div>
                    <select formControlName="state">
                        <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                            {{ state.name }}
                        </option>
                    </select>
                    <div
                        *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)">
                        <div *ngIf="shippingAddressState.errors.required">
                            State is required
                        </div>
                    </div>
                </div>
           


                <div><label>Code postal</label></div>
                <input formControlName="zipCode" type="text">
                <div
                    *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)">
                    <div
                        *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhitespace">
                        Le code postal est obligatoire
                    </div>
                    <div *ngIf="shippingAddressZipCode.errors.minlength">
                        zip code must be at least 2 characters long
                    </div>
                </div>
            </div>
        </div>

        <!--Add copié shipping dans la billing adress-->
        <div class="input-space" class="form-area">
            <label class="au-checkbox">
                <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                <span class="au-checkmark"></span>L'adresse de facturation est la même que l'adresse de livraison.
            </label>
        </div>

        <!--Billing adress-->

        <div formGroupName="billingAddress" class="form-area">
            <h3>Adresse de livraison</h3>
            <div class="row">
               
                <div><label>Country</label></div>
                <select formControlName="country" (change)="getStates('billingAddress')">
                    <option *ngFor="let country of countries" [ngValue]="country">
                        {{ country.name }}
                    </option>
                </select>
                <div
                    *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)">
                    <div *ngIf="billingAddressCountry.errors.required">
                        Country is required
                    </div>
                </div>
              

                <div><label>Rue</label></div>
                <input formControlName="street" type="text">
                <div
                    *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)">
                    <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace">
                        Le rue est obligatoire
                    </div>
                    <div *ngIf="billingAddressStreet.errors.minlength">
                        La rue doit faire au moins 2 charactere de long
                    </div>
                </div>

                <div><label>Ville</label></div>
                <input formControlName="city" type="text">
                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)">
                    <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                        La ville est obligatoire.
                    </div>
                    <div *ngIf="billingAddressCity.errors.minlength">
                        La ville doit faire au moins 2 charactere de long.
                    </div>
                </div>

             
                <div><label>State</label></div>
                <select formControlName="state">
                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                        {{ state.name }}
                    </option>
                </select>
                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)">
                    <div *ngIf="billingAddressState.errors.required">
                        State is required
                    </div>
                </div>
           

                <div><label>Code postal</label></div>
                <input formControlName="zipCode" type="text">
                <div
                    *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)">
                    <div
                        *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhitespace">
                        Code postal est obligatoire
                    </div>
                    <div *ngIf="billingAddressZipCode.errors.minlength">
                        ZipCode must be at least 2 characters long
                    </div>
                </div>
            </div>
        </div>

        <!--CreditCard-->
        <div formGroupName="creditCard" class="form-area">
            <h3>Carte de crédit</h3>
            <div class="row">

                <div><label>Type de carte</label></div>
                <select formControlName="cardType">
                    <option>Visa</option>
                    <option>Mastercard</option>
                </select>
                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)">
                    <div *ngIf="creditCardType.errors.required">
                        Type de carte est obligatoire
                    </div>
                </div>

                <div><label>Nom sur la carte</label></div>
                <input formControlName="nameOnCard" type="text">
                <div
                    *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)">
                    <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace">
                        Nom sur la carte est obligatoire
                    </div>
                    <div *ngIf="creditCardNameOnCard.errors.minlength">
                        Doit faire au moins 2 charactere de long.
                    </div>
                </div>

                <div><label>Nombre Carte</label></div>
                <input formControlName="cardNumber" type="text">
                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)">
                    <div *ngIf="creditCardNumber.errors.required">
                        Card Number is required
                    </div>
                    <div *ngIf="creditCardNumber.errors.pattern">
                        Card Number must be 16 digits long
                    </div>
                </div>

                <div><label>Code de sécurité</label></div>
                <input formControlName="securityCode" type="text">
                <div
                    *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)">
                    <div
                        *ngIf="creditCardSecurityCode.errors.required || creditCardSecurityCode.errors.notOnlyWhitespace">
                        Security Code is required
                    </div>
                    <div *ngIf="creditCardSecurityCode.errors.pattern">
                        Security must be at 3 digits long
                    </div>
                </div>

                <div><label>Mois d'expiration</label></div>
                <select formControlName="expirationMonth">
                    <option *ngFor="let month of creditCardMonths">{{month}}</option>
                </select>

                <div><label>Annee d'expiration</label></div>
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                    <option *ngFor="let years of creditCardYears">{{years}}</option>
                </select>
            </div>
        </div>

        <!-- Order details -->
        <div class="review" >
            <h3>Récapitulatif</h3>

            <p>Total Quantity:  {{ totalQuantity }} </p>
            <p>Shipping: FREE</p>
            <p>Total Price: {{ totalPrice | currency: 'USD' }} </p>
        </div>



        <!--Submit button-->
        <div class="btn">
            <button type="submit">Purchase</button>
        </div>
    </form>

</div>