<div class="app">

  <nav>

    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.png">
      </a>
      <span>L'atelier de Lili</span>
    </div>
  
    <div class="navlinks">
      <a routerLink="/">Accueil</a>
      <a routerLink="/products">Produits</a>
      <a href="#">Blog</a>

    </div>
  
    <div class="navlogo-container">

      <div class="navlogo">
        <a href="#">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
      </div>

      <div class="navlogo">
        <a href="#">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
      </div>

      <div class="navlogo">
        <app-cart-status> </app-cart-status>
      </div>
 
    
    </div>

  </nav>



  <main>
    <router-outlet> </router-outlet>
  </main>


</div>





