<div class="app">

  <nav>

    <div class="logo">
      <img src="assets/images/logo.png">
      <span>NATUR'ELLE</span>
    </div>
  
    <div class="navlinks">
      <a routerLink="/">Accueil</a>
      <a routerLink="/products">Produits</a>
      <a href="#">Blog</a>

      <div>
        <app-login-status></app-login-status>
        <app-cart-status></app-cart-status>
      </div>
      
    </div>


  </nav>



  <main>
    <router-outlet> </router-outlet>
  </main>

  <footer>
    <div class="footer-container">
      <div class="footer-nav">
        <div>
          <a routerLink="/products">Produits</a>
        </div>
        <div>
          <a href="#">Blog</a>
        </div>
        <div>
          <a href="#">Contact</a>
        </div>
      </div>
      <div class="footer-contact">
        <h4>Contactez-nous</h4>
        <div>
          <p>
            <img src="../assets/images/icon/tel.png" alt="tel">
            truc&#64;gmail.com
          </p>
        </div>
        <div>
          <p>
            <img src="../assets/images/icon/contact.png" alt="email">
            +33 688000000
          </p>          
        </div>
      </div>
      <div class="footer-reseau">
        <h4>Suivez-nous</h4>
        <div>
          <p>
            <img src="../assets/images/icon/facebook.png" alt="facebook">
            Nompagefacebook
          </p>         
        </div>
        <div>
          <p>
            <img src="../assets/images/icon/instagram.png" alt="instagram">
            Nompageinstagram           
          </p>
        </div>
      </div>
    </div>
    <div class="footer-mention">
      <p>Mention legale</p>
      <p>Politique de confidentialité</p>
      <p>truc qualité</p>
    </div>
  </footer>


</div>





