<div class="app">
  <header>
    <nav>

      <div>
        <a routerLink="/" class="logo">
          <img src="assets/images/logo.png">
        </a>
        <span>L'atelier de Lili</span>
      </div>

      <div class="navlinks">
        <a routerLink="/">Accueil</a>
        <a routerLink="/products">Produits</a>
        <a href="#">Blog</a>
      </div>


    </nav>
  </header>


  <main>
    <router-outlet> </router-outlet>
  </main>


</div>






<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>