*{
    margin:0;
    padding:0;
}

.app{
    font-family: 'Josefin Slab', serif;
    font-size: 32px;
}

nav{
    background-color: white;
    position:fixed;
    box-shadow: inset 0px -1px 0px black;
    display:flex;
    align-items: center;
    padding: 15px 25px;
    width: 100%;

}

.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.logo img{
    width: 90px;
}
.logo span{
    position: relative;
    max-width: 150px;
}
.navlinks{margin-left: 400px;}
.navlinks a{
    margin :0 30px;
    text-decoration: none;
    color: black;
    position: relative;
}